body 
    font-family: sans-serif
    margin: 0
    padding: 0
    text-align: center
    background: #121212e8


// color de texto de la pagina
main
    color: #ffffffe4

// color y estilos de la barra de navegacion
header 
    background-color: #cfcfcf94
    padding: 20px


nav 
    background-color: #82828294
    color: #fff
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 20px


.logo img 
    width: 50px
    height: auto


.menu 
    list-style-type: none
    margin: 0
    padding: 0
    display: flex


.menu li 
    margin-left: 20px


.menu li a 
    text-decoration: none
    color: #fff


.menu-toggle 
    display: none
    color: #fff
    font-size: 20px
    cursor: pointer


@media(max-width: 768px) 
    .menu 
        display: none
    

    .menu-toggle 
        display: block
    

    .menu-toggle.active 
        transform: rotate(90deg)
    

    .menu-toggle.active + .menu 
        display: flex
        flex-direction: column
        position: absolute
        top: 50px
        left: 20px
        background-color: #585858
        width: 100%



// separacion entre senciones
section 
    padding: 50px


#inicio h1 
    font-size: 2.5em
    margin-bottom: 20px


#inicio img 
    width: 200px
    height: auto
    border-radius: 50%


#mis-proyectos .proyectos 
    display: flex
    flex-wrap: wrap
    justify-content: space-between


/* Estilos para la galería de proyectos*/
.gallery 
    display: flex
    flex-wrap: wrap
    justify-content: center


.image 
    width: 200px
    height: 200px
    margin: 10px
    overflow: hidden
    position: relative
    border: 2px solid #fff
    transition: transform 0.3s ease-in-out


.image:hover 
    transform: scale(1.1)


.image img 
    width: 100%
    height: 100%
    object-fit: cover
    transition: opacity 0.3s ease-in-out


.image:hover img 
    opacity: 0.8




// CONTACTO 1
.card 
    width: 100%
    max-width: 290px
    height: 70px
    background: #353535
    border-radius: 20px
    display: flex
    align-items: center
    justify-content: left
    backdrop-filter: blur(10px)
    transition: 0.5s ease-in-out


.card:hover 
    cursor: pointer
    transform: scale(1.05)


.img 
    width: 50px
    height: 50px
    margin-left: 10px
    border-radius: 10px
    background: linear-gradient(#e3e3e3,#1102e8)


.card:hover > .img 
    transition: 0.5s ease-in-out
    background: linear-gradient(#0b046c, #e3e3e3)


.textBox 
    width: calc(100% - 90px)
    margin-left: 10px
    color: white
    font-family: 'Poppins' sans-serif


.textContent 
    display: flex
    align-items: center
    justify-content: space-between


.span 
    font-size: 10px


.h1 
    font-size: 16px
    font-weight: bold


.p 
    font-size: 12px
    font-weight: lighter

// .card zaza
//     text-align: center
//     justify-content: center

.contenedor
    display: flex
    justify-content: center
    gap: 20px
