body 
    font-family: sans-serif
    margin: 0
    padding: 0
    text-align: center
    background: #121212e8


// color de texto de la pagina
main
    color: #ffffffe4

// color y estilos de la barra de navegacion
header 
    background-color: #cfcfcf94
    padding: 20px


// logo de la barra de nav
nav img 
    display: inline-block
    margin-right: 20px
    height: 50px 


nav ul 
    list-style: none
    margin: 0
    padding: 0


nav li 
    display: inline-block
    margin-right: 20px


nav a 
    text-decoration: none
    color: #0a0a0a

// separacion entre senciones
section 
    padding: 50px


#inicio h1 
    font-size: 2.5em
    margin-bottom: 20px


#inicio img 
    width: 200px
    height: auto
    border-radius: 50%


#mis-proyectos .proyectos 
    display: flex
    flex-wrap: wrap
    justify-content: space-between


/* Estilos para las cards de proyectos */

footer 
    background-color: #585858
    text-align: center
    padding: 20px
    justify-content: center




#galeria 
    padding: 20px


.contenedor-imagenes 
    display: flex
    overflow-x: auto
    white-space: nowrap
    transition: transform 0.5s ease
    /* Animación de transición */


.contenedor-imagenes img 
    margin-right: 20px
    width: 200px
    height: auto
    transform: translateX(0)
    /* Posición inicial */


.contenedor-imagenes:hover 
    transform: translateX(-10px)
    /* Desplazamiento al hover */


.contenedor-imagenes img:hover 
    transform: scale(1)
    /* Aumento de tamaño al hover */
    box-shadow: 0 5px 10px rgb(255, 255, 255)
    /* Sombra al hover */







// CONTACTO 1
.card 
    width: 100%
    max-width: 290px
    height: 70px
    background: #353535
    border-radius: 20px
    display: flex
    align-items: center
    justify-content: left
    backdrop-filter: blur(10px)
    transition: 0.5s ease-in-out


.card:hover 
    cursor: pointer
    transform: scale(1.05)


.img 
    width: 50px
    height: 50px
    margin-left: 10px
    border-radius: 10px
    background: linear-gradient(#e3e3e3,#1102e8)


.card:hover > .img 
    transition: 0.5s ease-in-out
    background: linear-gradient(#0b046c, #e3e3e3)


.textBox 
    width: calc(100% - 90px)
    margin-left: 10px
    color: white
    font-family: 'Poppins' sans-serif


.textContent 
    display: flex
    align-items: center
    justify-content: space-between


.span 
    font-size: 10px


.h1 
    font-size: 16px
    font-weight: bold


.p 
    font-size: 12px
    font-weight: lighter

.card zaza
    text-align: center
    justify-content: center

.contenedor
    display: flex
    justify-content: center
    gap: 20px
